
@{
    ViewBag.Title = "HomePage";
}

<h2>Welcome</h2>

<div width="30">
    <p>Hi.</p>
    <br>
    <p>This is my user maintenance application.</p>
    <br>
    <p style="margin-left:17em;">Martin Matha</p>
</div>

